{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--    <meta name="description" content="">-->
    <!--    <meta name="author" content="">-->

    <!-- Bootstrap core CSS -->
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- <link href="static/css/main.css" rel="stylesheet"> -->

    <!-- Custom styles.css for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<body class="d-block flex-column h-100 bg-body-secondary vsc-initialized">

{% block header %}
{% endblock %}
<!-- Begin page content -->


<main class="container">

    <div class="row mt-2 mb-4">
        <div class="col-md-8">
            {% block content %}

            {% endblock %}
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="h1 text-center">Popular tags</div>
                    <div class="row m-0">
                        <div class="col-4">
                            <button type="button" class="ml-lg-1 btn-danger d-inline rounded">WEB</button>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn-info d-inline rounded">SD</button>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn-danger rounded">ML</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-4 pt-4">
                <div class="h1 text-center">Top users</div>
                <div class="container d-block">
                    <a href="#" class="card-link m-2 d-block" style="font-size: 15pt;">Top User 1</a>
                    <a href="#" class="card-link m-2 d-block" style="font-size: 15pt;">Top User 2</a>
                    <a href="#" class="card-link m-2 d-block" style="font-size: 15pt;">Top User 3</a>
                    <a href="#" class="card-link m-2 d-block" style="font-size: 15pt;">Top User 4</a>


                </div>
            </div>
        </div>
    </div>
</main>

{% block footer %}
{% endblock %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!---
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script> --->
</body>
</html>

