{% extends 'layouts/base_layout.html' %}

{% load static %}

{% block header %}
{% include 'components/navbar_guest.html' %}
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body pt-0">
        <div class="card-title h1">
            Register
        </div>
        <label><span class="text text-danger">
                        Incorrect data
                    </span>
        </label>
        <form>
            <form class="my-3 mr-2">
                <label for="loginInput" class="form-label" style="font-size: 1rem;">Login</label>
                <input class="form-control" id="loginInput">
            </form>

            <form class="my-3 mr-2">
                <label for="emailInput" class="form-label" style="font-size: 1rem;">Email</label>
                <input type="email" class="form-control" id="emailInput" placeholder="example@mail.com">
            </form>

            <form class="my-3 mr-2">
                <label for="nicknameInput" class="form-label" style="font-size: 1rem;">Nickname</label>
                <input class="form-control" id="nicknameInput">
            </form>

            <form class="my-3 mr-2">
                <label for="passwordInput" class="form-label" style="font-size: 1rem;">Password</label>
                <input type="password" class="form-control" id="passwordInput">
            </form>

            <form class="my-3 mr-2">
                <label for="repeatInput" class="form-label" style="font-size: 1rem;">Repeat password</label>
                <input type="password" class="form-control" id="repeatInput">
            </form>

            <form class="my-3 mr-2">
                <label for="upload" class="form-label" style="font-size: 1rem;">Upload image</label>
                <input type="file" class="form-control" id="upload">
            </form>
        </form>
        <button type="submit" class="btn btn-primary m-3 float-right">Sign up</button>
    </div>

</div>
{% endblock %}

{% block footer %}

{% include 'components/footer_without_pagination.html' %}

{% endblock %}