<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--    <meta name="description" content="">-->
    <!--    <meta name="author" content="">-->

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrapv4/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="static/css/main.css" rel="stylesheet"> -->

    <!-- Custom styles.css for this template -->
    <link href="../static/bootstrapv4/css/main.css" rel="stylesheet">
</head>

<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark d-block">
        <div class="row">
            <div class="col-1 mt-3">
                <img src="../static/bootstrapv4/img/igloo.png" class="img-fluid">
            </div>
            <div class="col-10">
                <div class="row p-3">
                    <div class="col-11">
                        <input placeholder="Ask me if you can" class="form-control">
                    </div>
                    <div class="col-1 p-0">
                        <button class="btn btn-primary rounded-5" type="button" style="">Искать</button>
                    </div>
                </div>
            </div>
            <div class="col-1 mt-2">
                <div class="text text-left">
                    <a href="#" style="text-decoration-line: underline;">Login</a>
                </div>
                <div class="text text-left align-middle">
                    <a href="#" style="text-decoration-line: underline; .text-al">Register</a>
                </div>
                <!--                    <a href="#" style="text-decoration-line: underline;">Login</a>-->
            </div>
        </div>
    </nav>
</header>
<!-- Begin page content -->
<div role="main" class="container">
    <div class="row mt-2 mb-4">
        <div class="col-md-8">

            <div class="card m-3">
                <div class="card-header font-weight-bold h4 font-fa">
                    First Question
                </div>
                <div class="card-body py-2">
                    <div class="row">
                        <div class="col-3 justify-content-center">
                            <img src="../static/bootstrapv4/img/avatar.jpg" class="img-fluid py-2 card-img rounded">
                            <div class="btn-group flex-lg-row flex-column mt-3 mb-2 ml-3 ml-xl-4 btns" role="group">
                                <button type="button" class="btn btn-success btn-sm">↑</button>
                                <span class="border-2 bg-white px-2 fw-bold">1</span>
                                <button type="button" class="btn btn-danger btn-sm">↓</button>
                            </div>
                        </div>
                        <div class="col-9 pl-0">
                            <div class="card-body py-0">
                                <div class="card-text question">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Est pellentesque elit ullamcorper
                                    dignissim cras tincidunt. Et malesuada fames ac turpis egestas. Nisl nisi
                                    scelerisque eu ultrices vitae. Non blandit massa enim nec dui nunc mattis. Et netus
                                    et malesuada fames ac. A erat nam at lectus urna.
                                </div>
                                <div class="font-italic mt-4">
                                    Tags: <u>ADS</u> <u>WEB</u> <u>SD</u>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="card m-3">
                <div class="card-header h1">
                    Answers
                </div>
                <div class="card m-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3 justify-content-center">
                                <img src="../static/bootstrapv4/img/avatar.jpg" class="img-fluid py-2 card-img rounded">
                                <div class="btn-group flex-lg-row flex-column mt-3 mb-2 ml-3 ml-xl-4 btns" role="group">
                                    <button type="button" class="btn btn-success btn-sm">↑</button>
                                    <span class="border-2 bg-white px-2 fw-bold">1</span>
                                    <button type="button" class="btn btn-danger btn-sm">↓</button>
                                </div>
                            </div>
                            <div class="col-9 pl-0">
                                <div class="card-body py-0">
                                    <div class="card-text question">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Est pellentesque elit ullamcorper
                                        dignissim cras tincidunt. Et malesuada fames ac turpis egestas. Nisl nisi
                                        scelerisque eu ultrices vitae. Non blandit massa enim nec dui nunc mattis. Et
                                        netus et malesuada fames ac. A erat nam at lectus urna.
                                    </div>
                                    <div class="mt-4 text-success" style="font-size: 13pt;">
                                        <div class="form-check">
                                            <input class="form-check-input pb-0" value="" type="checkbox"
                                                   id="checkbox1">
                                            <label for="checkbox1" class="form-check-label alert-top">Correct!</label>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card m-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3 justify-content-center">
                                <img src="../static/bootstrapv4/img/avatar.jpg" class="img-fluid py-2 card-img rounded">
                                <div class="btn-group flex-lg-row flex-column mt-3 mb-2 ml-3 ml-xl-4 btns" role="group">
                                    <button type="button" class="btn btn-success btn-sm">↑</button>
                                    <span class="border-2 bg-white px-2 fw-bold">1</span>
                                    <button type="button" class="btn btn-danger btn-sm">↓</button>
                                </div>
                            </div>
                            <div class="col-9 pl-0">
                                <div class="card-body py-0">
                                    <div class="card-text question">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Est pellentesque elit ullamcorper
                                        dignissim cras tincidunt. Et malesuada fames ac turpis egestas. Nisl nisi
                                        scelerisque eu ultrices vitae. Non blandit massa enim nec dui nunc mattis. Et
                                        netus et malesuada fames ac. A erat nam at lectus urna.
                                    </div>
                                    <div class="mt-4 text-success" style="font-size: 13pt;">
                                        <div class="form-check">
                                            <input class="form-check-input pb-0" type="checkbox" id="checkbox2">
                                            <label for="checkbox2" class="form-check-label">Correct!</label>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card m-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3 justify-content-center">
                                <img src="../static/bootstrapv4/img/avatar.jpg" class="img-fluid py-2 card-img rounded">
                                <div class="btn-group flex-lg-row flex-column mt-3 mb-2 ml-3 ml-xl-4 btns" role="group">
                                    <button type="button" class="btn btn-success btn-sm">↑</button>
                                    <span class="border-2 bg-white px-2 fw-bold">1</span>
                                    <button type="button" class="btn btn-danger btn-sm">↓</button>
                                </div>
                            </div>
                            <div class="col-9 pl-0">
                                <div class="card-body py-0">
                                    <div class="card-text question">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Est pellentesque elit ullamcorper
                                        dignissim cras tincidunt. Et malesuada fames ac turpis egestas. Nisl nisi
                                        scelerisque eu ultrices vitae. Non blandit massa enim nec dui nunc mattis. Et
                                        netus et malesuada fames ac. A erat nam at lectus urna.
                                    </div>
                                    <div class="mt-4 text-success" style="font-size: 13pt;">
                                        <div class="form-check">
                                            <input class="form-check-input pb-0" type="checkbox" id="checkbox3">
                                            <label for="checkbox3" class="form-check-label">Correct!</label>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <hr class="border rounded "/>
                <textarea class="m-3" placeholder="Write your answer..." rows="5"></textarea>
                <span>
                    <button type="submit" class="btn btn-primary m-2 mr-3 float-right">Send answer</button>
                </span>
            </div>
        </div>


        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="h1 text-center">Popular tags</div>
                    <div class="row m-0">
                        <div class="col-4">
                            <button type="button" class="ml-lg-1 btn-danger d-inline rounded">WEB</button>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn-info d-inline rounded">SD</button>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn-danger rounded">ML</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-4 pt-4">
                <div class="h1 text-center">Top users</div>
                <div class="container d-block">
                    <a href="#" class="card-link m-2 d-block" style="font-size: 15pt;">Kurov</a>
                    <a href="#" class="card-link m-2 d-block" style="font-size: 15pt;">SophiVin</a>
                    <a href="#" class="card-link m-2 d-block" style="font-size: 15pt;">Skullduggery-sys</a>
                    <a href="#" class="card-link m-2 d-block" style="font-size: 15pt;">UrMom228</a>


                </div>
            </div>
        </div>
    </div>
</div>
</div>

<footer>
    <nav class="navbar navbar-expand navbar-da bg-dark">

    </nav>
</footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
</body>
</html>

