{% extends 'layouts/base_layout.html' %}

<div class="card m-3">
    <div class="card-header font-weight-bold h4 font-fa">
        First Question
    </div>
    <div class="card-body py-2">
        <div class="row">
            <div class="col-3 justify-content-center">
                <img src="../static/bootstrapv4/img/avatar.jpg" class="img-fluid py-2 card-img rounded">
                <div class="btn-group flex-lg-row flex-column mt-3 mb-2 ml-3 ml-xl-4 btns" role="group">
                    <button type="button" class="btn btn-success btn-sm">↑</button>
                    <span class="border-2 bg-white px-2 fw-bold">1</span>
                    <button type="button" class="btn btn-danger btn-sm">↓</button>
                </div>
            </div>
            <div class="col-9 pl-0">
                <div class="card-body py-0">
                    <div class="card-text question">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Est pellentesque elit ullamcorper
                        dignissim cras tincidunt. Et malesuada fames ac turpis egestas. Nisl nisi
                        scelerisque eu ultrices vitae. Non blandit massa enim nec dui nunc mattis. Et netus
                        et malesuada fames ac. A erat nam at lectus urna.
                    </div>
                    <div class="font-italic mt-4">
                        Tags: <u>ADS</u> <u>WEB</u> <u>SD</u>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <hr class="border rounded "/>

    <div class="ml-5 card m-3">
        <div class="card-body">
            <div class="row">
                <div class="col-3 justify-content-center">
                    <img src="../static/bootstrapv4/img/avatar.jpg" class="img-fluid py-2 card-img rounded">
                    <div class="btn-group flex-lg-row flex-column mt-3 mb-2 ml-3 ml-xl-4 btns" role="group">
                        <button type="button" class="btn btn-success btn-sm">↑</button>
                        <span class="border-2 bg-white px-2 fw-bold">1</span>
                        <button type="button" class="btn btn-danger btn-sm">↓</button>
                    </div>
                </div>
                <div class="col-9 pl-0">
                    <div class="card-body py-0">
                        <div class="card-text question">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Est pellentesque elit ullamcorper
                            dignissim cras tincidunt. Et malesuada fames ac turpis egestas. Nisl nisi
                            scelerisque eu ultrices vitae. Non blandit massa enim nec dui nunc mattis. Et
                            netus et malesuada fames ac. A erat nam at lectus urna.
                        </div>
                        <div class="mt-4 text-success" style="font-size: 13pt;">
                            <div class="form-check">
                                <input class="form-check-input pb-0" value="" type="checkbox"
                                       id="checkbox1">
                                <label for="checkbox1" class="form-check-label alert-top">Correct!</label>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="ml-5 card m-3">
        <div class="card-body">
            <div class="row">
                <div class="col-3 justify-content-center">
                    <img src="../static/bootstrapv4/img/avatar.jpg" class="img-fluid py-2 card-img rounded">
                    <div class="btn-group flex-lg-row flex-column mt-3 mb-2 ml-3 ml-xl-4 btns" role="group">
                        <button type="button" class="btn btn-success btn-sm">↑</button>
                        <span class="border-2 bg-white px-2 fw-bold">1</span>
                        <button type="button" class="btn btn-danger btn-sm">↓</button>
                    </div>
                </div>
                <div class="col-9 pl-0">
                    <div class="card-body py-0">
                        <div class="card-text question">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Est pellentesque elit ullamcorper
                            dignissim cras tincidunt. Et malesuada fames ac turpis egestas. Nisl nisi
                            scelerisque eu ultrices vitae. Non blandit massa enim nec dui nunc mattis. Et
                            netus et malesuada fames ac. A erat nam at lectus urna.
                        </div>
                        <div class="mt-4 text-success" style="font-size: 13pt;">
                            <div class="form-check">
                                <input class="form-check-input pb-0" type="checkbox" id="checkbox2">
                                <label for="checkbox2" class="form-check-label">Correct!</label>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="ml-5 card m-3">
        <div class="card-body">
            <div class="row">
                <div class="col-3 justify-content-center">
                    <img src="../static/bootstrapv4/img/avatar.jpg" class="img-fluid py-2 card-img rounded">
                    <div class="btn-group flex-lg-row flex-column mt-3 mb-2 ml-3 ml-xl-4 btns" role="group">
                        <button type="button" class="btn btn-success btn-sm">↑</button>
                        <span class="border-2 bg-white px-2 fw-bold">1</span>
                        <button type="button" class="btn btn-danger btn-sm">↓</button>
                    </div>
                </div>
                <div class="col-9 pl-0">
                    <div class="card-body py-0">
                        <div class="card-text question">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Est pellentesque elit ullamcorper
                            dignissim cras tincidunt. Et malesuada fames ac turpis egestas. Nisl nisi
                            scelerisque eu ultrices vitae. Non blandit massa enim nec dui nunc mattis. Et
                            netus et malesuada fames ac. A erat nam at lectus urna.
                        </div>
                        <div class="mt-4 text-success" style="font-size: 13pt;">
                            <div class="form-check">
                                <input class="form-check-input pb-0" type="checkbox" id="checkbox3">
                                <label for="checkbox3" class="form-check-label">Correct!</label>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <hr class="border rounded "/>
    <textarea class="m-3" placeholder="Write your answer..." rows="5"></textarea>
    <span>
                    <button type="submit" class="btn btn-primary m-2 mr-3 float-right">Send answer</button>
                </span>


</div>