<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--    <meta name="description" content="">-->
  <!--    <meta name="author" content="">-->

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <!-- <link href="static/css/main.css" rel="stylesheet"> -->

  <!-- Custom styles.css for this template -->
  <link href="../static/css/main.css" rel="stylesheet">
</head>

<body class="d-block flex-column h-100 bg-body-secondary vsc-initialized">

<header>
<nav class="navbar navbar-expand-md navbar-dark bg-dark d-block">
<!--  <div class="container d-inline align-items-center">-->
    <div class="row">
      <div class="col-2">
        <img src="../static/img/igloo.png" class="img-fluid">
      </div>
      <div class="col-7">
        <div class="row p-3">
          <div class="col-10">
            <input placeholder="Ask me if you can" class="form-control">
          </div>
          <div class="col-2 p-0">
            <button class="btn btn-primary" type="button" style="">Искать</button>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="row">
          <div class="col-3 p-0">
            <img src="../static/img/boy.png" class="img-fluid">
          </div>
          <div class="col-9">
            <div class="text-white">Username</div>
            <div class="container mt-2 pl-0 flex-md-column flex-lg-row">
              <a href="#" class="text-primary">Settings</a>
              <a href="#" class="text-primary ml-lg-2">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--  </div>-->
</nav>
</header>
<!-- Begin page content -->


<main class="container">

  <div class="row mt-2 mb-4">
  <div class="col-md-8">
    <div class="card">
    <div class="text-black h1 pl-3">
      Questions list
    </div>
    <div class="card m-3">
      <div class="card-header font-weight-bold h4 font-fa">
        <a href=""> First Question </a>
      </div>
      <div class="card-body py-2">
        <div class="row">
          <div class="col-3 justify-content-center">
            <img src="../static/img/avatar.jpg" class="img-fluid py-2 card-img rounded">
            <div class="btn-group flex-lg-row flex-column mt-3 mb-2 ml-3 ml-xl-4 btns" role="group">
              <button type="button" class="btn btn-success btn-sm">↑</button>
              <span class="border-2 bg-white px-2 fw-bold">1</span>
              <button type="button" class="btn btn-danger btn-sm">↓</button>
            </div>
          </div>
          <div class="col-9 pl-0">
            <div class="card-body py-0">
              <div class="card-text question">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Est pellentesque elit ullamcorper dignissim cras tincidunt. Et malesuada fames ac turpis egestas. Nisl nisi scelerisque eu ultrices vitae. Non blandit massa enim nec dui nunc mattis. Et netus et malesuada fames ac. A erat nam at lectus urna.
              </div>
              <div class="row px-3 my-3">
                <div class="col-6 px-0 font-italic">
                  <a href="" class="card-link">Answers (2)</a>
                </div>
                <div class="col-6 px-0">
                  <div class="col-4"></div>
                  <div class="font-italic">
                    Tags: <u>ADS</u>  <u>WEB</u>   <u>SD</u>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
      <div class="card m-3">
        <div class="card-header font-weight-bold h4 font-fa">
          <a href=""> First Question </a>
        </div>
        <div class="card-body py-2">
          <div class="row">
            <div class="col-3 justify-content-center">
              <img src="../static/img/avatar.jpg" class="img-fluid py-2">
              <div class="btn-group flex-lg-row flex-column mt-3 mb-2 ml-3 ml-xl-4 btns" role="group">
                <button type="button" class="btn btn-success btn-sm">↑</button>
                <span class="border-2 bg-white px-2 fw-bold">1</span>
                <button type="button" class="btn btn-danger btn-sm">↓</button>
              </div>
            </div>
            <div class="col-9 pl-0">
              <div class="card-body py-0">
                <div class="card-text question">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Est pellentesque elit ullamcorper dignissim cras tincidunt. Et malesuada fames ac turpis egestas. Nisl nisi scelerisque eu ultrices vitae. Non blandit massa enim nec dui nunc mattis. Et netus et malesuada fames ac. A erat nam at lectus urna.
                </div>
                <div class="row px-3 my-3">
                  <div class="col-6 px-0 font-italic">
                    <a href="" class="card-link">Answers (2)</a>
                  </div>
                  <div class="col-6 px-0">
                    <div class="col-4"></div>
                    <div class="font-italic">
                      Tags: <u>ADS</u>  <u>WEB</u>   <u>SD</u>

                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div><div class="card m-3">
        <div class="card-header font-weight-bold h4 font-fa">
          <a href=""> First Question </a>
        </div>
        <div class="card-body py-2">
          <div class="row">
            <div class="col-3 justify-content-center">
              <img src="../static/img/avatar.jpg" class="img-fluid py-2">
              <div class="btn-group flex-lg-row flex-column mt-3 mb-2 ml-3 ml-xl-4 btns" role="group">
                <button type="button" class="btn btn-success btn-sm">↑</button>
                <span class="border-2 bg-white px-2 fw-bold">1</span>
                <button type="button" class="btn btn-danger btn-sm">↓</button>
              </div>
            </div>
            <div class="col-9 pl-0">
              <div class="card-body py-0">
                <div class="card-text question">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Est pellentesque elit ullamcorper dignissim cras tincidunt. Et malesuada fames ac turpis egestas. Nisl nisi scelerisque eu ultrices vitae. Non blandit massa enim nec dui nunc mattis. Et netus et malesuada fames ac. A erat nam at lectus urna.
                </div>
                <div class="row px-3 my-3">
                  <div class="col-6 px-0 font-italic">
                    <a href="" class="card-link">Answers (2)</a>
                  </div>
                  <div class="col-6 px-0">
                    <div class="col-4"></div>
                    <div class="font-italic">
                      Tags: <u>ADS</u>  <u>WEB</u>   <u>SD</u>

                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <div class="h1 text-center">Popular tags</div>
        <div class="row m-0">
        <div class="col-4">
          <button type="button" class="ml-lg-1 btn-danger d-inline rounded">WEB</button>
        </div>
        <div class="col-4">
          <button type="button" class="btn-info d-inline rounded">SD</button>
        </div>
        <div class="col-4">
        <button type="button" class="btn-danger rounded">ML</button>
      </div>
        </div>
     </div>
    </div>
    <div class="card mt-4 pt-4">
      <div class="h1 text-center">Top users</div>
      <div class="container d-block" >
        <a  href="#" class="card-link m-2 d-block" style="font-size: 15pt;">Kurov</a>
        <a  href="#" class="card-link m-2 d-block" style="font-size: 15pt;">SophiVin</a>
        <a  href="#" class="card-link m-2 d-block" style="font-size: 15pt;">Skullduggery-sys</a>
        <a  href="#" class="card-link m-2 d-block" style="font-size: 15pt;">UrMom228</a>


      </div>
    </div>
  </div>
  </div>
</main>

<footer>
  <nav class="navbar navbar-expand navbar-da bg-dark n">
    <ul class="pagination ml-5 pl-3">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>

